*{
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
}
html,body{
    background: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar{
    display: flex;
    flex-direction: column;
    min-width:22vw;
    position: fixed;
    height: 95vh;
    top:0;
    left:0;
    
    
    
    
}
#main-doc{
    width:75vw;
   
    margin-left: auto;
    background:whitesmoke;
    margin-top:60px;
    margin-right: 10px;
}
#head{
    color: rgb(236, 149, 178);
    margin-left: 3px;
    font-size: 1.8em;
    /* display: inline-block; */
    margin-top:10px;
}
#list{

list-style: none;
padding-left:2px;
border:2px solid;
margin-top:30px;
background: whitesmoke;
overflow-x:scroll;

}

.nav-link li {
    border-bottom :2px solid;
    font-size: 1.5em;
    padding:15px 10px;
    color:black;
}
.main-section{
    line-height: 25px;
    margin-bottom: 8px;
    margin-top:40px;
    margin-left: 15px;
}
h2{
    margin-bottom: 10px;
}
.list:hover{
    background-color: rgb(204, 199, 199);

}
@media all and (max-width:450px){
   
   
    #head{
        font-size: 1.5em;
        text-align: center;
       
        
        
    }
    #navbar{
        width:100vw;
        height:50vh;
        position: relative;
        
        
    }
    #list{
        font-size: 0.7em;
        width:100vw;
    }
    #main-doc{
        background-color:whitesmoke;
        width: 100vw;
        margin-top:-20px;
        margin: auto;
       
        
    }
    .main-section{
        text-align: left;
        margin-left: 5px;
        line-height: 25px;
    }
    
}
@media all and (min-width:768px) and (max-width:992px){
    #navbar{
        position: static;
        width:70vw;
        height: 55vh;
        margin:auto;
    }
    #head{
        text-align: center;
    }
    #main-doc{
        margin:auto;
    }
}
